################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestYourEnglish/v16
/Core/bin/Debug/netcoreapp3.1
/Core/obj
/WebAppAPI/bin/Debug/netcoreapp3.1
/WebAppAPI/obj
/.vs
